/**
* Anax Flat theme.
*/
@import url(modules.less);


/**
* Colors
*/
@black: #000000;
@orange: #FFA500;
@grayish: #3c3e3e;

/** --------------------------------------------------------------
 *  Logo images
 */
.logo-1 {
    display: none;
    // position: absolute;
    // top: 170px;
    // left: -140px;
}

.site-logo-text-icon {
    display: none;
    // img {
    //     vertical-align: bottom;
    // }
}

/** --------------------------------------------------------------
 *  Header
 */

// Size of max navbar button
.rm-max .rm-small .rm-button {
    font-size: 2em;
}

@maxButtonFontSize: 2em;

// Style navbar
.rm-desktop li {
    background-color: @grayish;
    box-shadow: 10px 10px 5px #888888;
    color: white;
}

// @navbarItemBgColor: #000;


// Size each item in the header
.site-logo-text,
.navbar2,
.profile {
    float: left;
    // width: 30%;
}

.site-header {
    height: 80px;
}

// Site title
.site-logo-text {
    font-size: 2em;
    a {
        text-decoration: none;
    }
}

/** --------------------------------------------------------------
 * Divs and containers
 */



/** --------------------------------------------------------------
* Links and text
*/
a {
    // color: @grayish;
    font-size: 16px;
}



/** --------------------------------------------------------------
 * Lists
 */

ul {
list-style-type: none;

}

/** --------------------------------------------------------------
 * Footer
 */

.footer {
    border-top: 2px dotted green;
}

.footer a {
    color: blue;
}

.route-typography .outer-wrap-main {
    background-image: url(../img/horisontal-grid-24.png);
    .font();
    .typographyHeadings();
    .typographyTextElements();
    .typographyCodeElements();
    .typographyListElements();
    .typographyTableElements();
    .typographyOtherElements();
}


